__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# SQLite
*.sqlite
backend/db.sqlite

# Node
node_modules/
dist/
build/
.next/
.parcel-cache/
.cache/
.eslintcache/
.stylelintcache/
.npm
.yarn-integrity

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
